body{
    margin:0;
}

nav {
    background:#16A085;
}
.menu {
    text-align:center;
    margin:0;
}

.menu li{
   display:inline-block; 
   
}
.menu a{
    padding: 45px;
    color: white;
    text-decoration: none;
    display: block;

}

.menu a:hover{
    background:#1ABC9C;
}

.gris{
    background:#333333;
    overflow: hidden;
    color: white;
    text-align: center;
    padding: 90px;
    
}

.hierba{
    height: 400px;
    background: url(../images/pic01.jpg);
}

.dos_col{
    width: 1024px;
    margin: auto;
}

.dos_col .col_left{
    width: 600px;
    display: inline-block;
    vertical-align: top;
}

.dos_col .col_right{
    width: 400px;
    display: inline-block;
    vertical-align: top;
}

.tres_col{
    width: 100%;    
    background: #333333;
    color: white;
    margin: auto;
   
}

.tres_col .col_left{
    width: 330px;
    display: inline-block;
    vertical-align: top;
    color: white;
}

.tres_col .col_cen{
    width: 330px;
    display: inline-block;
    vertical-align: top;
    color: white;
}

.tres_col .col_right{
    width: 330px;
    display: inline-block;
    vertical-align: top;
    color: white;
}

.footer{
    background: #16A085;
    padding: 60px;
    text-align: center;
    color: wheat;
}